
# Generated
en-abstract/
fr-fr/


*~
*/CSwingJava/target
hs_err_pid*.log

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/abstract/CSwingJava/target/